<?xml version="1.0"?>
<config>
  <modules>
    <Pagofacil_Externalpayment>
      <version>0.1.0</version>
    </Pagofacil_Externalpayment>
  </modules>
  <global>
    <models>
      <externalpayment>
        <class>Pagofacil_Externalpayment_Model</class>
      </externalpayment>
    </models>
    <helpers>
      <externalpayment>
        <class>Pagofacil_Externalpayment_Helper</class>
      </externalpayment>
    </helpers>
    <blocks>
      <externalpayment>
        <class>Pagofacil_Externalpayment_Block</class>
      </externalpayment>
    </blocks>
  </global>
  <default>
    <payment>
      <externalpayment>
        <model>externalpayment/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>External Payment</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </externalpayment>
    </payment>
  </default>
  <frontend>
    <routers>
      <externalpayment>
        <use>standard</use>
        <args>
          <module>Pagofacil_Externalpayment</module>
          <frontName>externalpayment</frontName>
        </args>
      </externalpayment>
    </routers>
  </frontend>
</config>
